{
  "presets": [
    ["es2015", { "loose": true, "modules": false }],
    "react"
  ],
  "plugins": [
    "async-to-promises",
    "transform-export-extensions",
    ["transform-object-rest-spread", { "useBuiltIns": true }],
    ["transform-runtime", { "polyfill": false, "regenerator": false }],
    ["module-resolver", {
      "root": ["./src/shared"],
      "extensions": [".js", ".jsx", ".es", ".es6"]
    }]
  ]
}
