{
  "presets": ["es2015-native-modules", "react"],
  "plugins": [
    "kneden",
    "transform-function-bind",
    "transform-class-constructor-call",
    "transform-class-properties",
    "transform-export-extensions",
    "syntax-trailing-function-commas",
    "transform-object-rest-spread"
  ]
}
