{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jasmine": true
  },
  "globals": {
    "__DEV__": true,
    "__BROWSER__": true,
    "jest": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "rules": {

    // Possible Errors
    "comma-dangle": [2, "never"],
    "no-cond-assign": 1,
    "no-console": 1,
    "no-constant-condition": 1,
    "no-control-regex": 1,
    "no-debugger": 1,
    "no-dupe-args": 1,
    "no-dupe-keys": 1,
    "no-duplicate-case": 1,
    "no-empty": 1,
    "no-empty-character-class": 1,
    "no-ex-assign": 1,
    "no-extra-boolean-cast": 1,
    "no-extra-parens": 0,
    "no-extra-semi": 1,
    "no-func-assign": 1,
    "no-inner-declarations": 1,
    "no-invalid-regexp": 1,
    "no-irregular-whitespace": 1,
    "no-negated-in-lhs": 1,
    "no-obj-calls": 1,
    "no-regex-spaces": 1,
    "quote-props": 1,
    "no-sparse-arrays": 1,
    "no-unreachable": 1,
    "use-isnan": 1,
    "valid-jsdoc": 0,
    "valid-typeof": 1,

    // Best Practices
    "block-scoped-var": 1,
    "complexity": [2, 7],
    "consistent-return": 2,
    "curly": [2, "multi-line"],
    "default-case": 2,
    "dot-notation": [2, {"allowKeywords": true, "allowPattern": ""}],
    "eqeqeq": 1,
    "guard-for-in": 1,
    "no-alert": 1,
    "no-caller": 1,
    "no-div-regex": 2,
    "no-else-return": 2,
    "no-empty-label": 2,
    "no-eq-null": 2,
    "no-eval": 1,
    "no-extend-native": 1,
    "no-extra-bind": 1,
    "no-fallthrough": 1,
    "no-floating-decimal": 2,
    "no-implied-eval": 1,
    "no-iterator": 1,
    "no-labels": 0,
    "no-lone-blocks": 1,
    "no-loop-func": 1,
    "no-multi-spaces": 2,
    "no-multi-str": 1,
    "no-native-reassign": 1,
    "no-new": 1,
    "no-new-func": 1,
    "no-new-wrappers": 1,
    "no-octal": 1,
    "no-octal-escape": 1,
    "no-param-reassign": 1,
    "no-process-env": 1,
    "no-proto": 1,
    "no-redeclare": 0,
    "no-return-assign": 1,
    "no-script-url": 1,
    "no-self-compare": 1,
    "no-sequences": 1,
    "no-throw-literal": 1,
    "no-unused-expressions": 1,
    "no-void": 1,
    "no-warning-comments": 0,
    "no-with": 1,
    "radix": 1,
    "vars-on-top": 1,
    "wrap-iife": [2, "outside"],
    "yoda": 1,

    // Code style
    "indent": [2, 2],
    "brace-style": [2, "1tbs", { "allowSingleLine": true }],
    "camelcase": 2,
    "comma-spacing": [2, {"before": false, "after": true}],
    "comma-style": [2, "last"],
    "consistent-this": 2,
    "eol-last": 1,
    "func-names": 1,
    "func-style": [2, "declaration"],
    "key-spacing": [2, { "beforeColon": false, "afterColon": true }],
    "max-nested-callbacks": [2, 2],
    "new-cap": 2,
    "new-parens": 1,
    "newline-after-var": [2, "always"],
    "no-array-constructor": 1,
    "no-continue": 1,
    "no-inline-comments": 0,
    "no-lonely-if": 1,
    "no-mixed-spaces-and-tabs": 1,
    "no-multiple-empty-lines": [1, { "max": 2 }],
    "no-nested-ternary": 0,
    "no-new-object": 1,
    "no-spaced-func": 1,
    "no-ternary": 0,
    "no-trailing-spaces": 1,
    "no-underscore-dangle": 0,
    "object-curly-spacing": [2, "always"],
    "one-var": [1, "never"],
    "operator-assignment": [2, "always"],
    "operator-linebreak": [2, "before"],
    "padded-blocks": 0,
    "quote-props": [2, "as-needed"],
    "quotes": [2, "single"],
    "semi": [2, "never"],
    "sort-vars": 0,
    "space-after-keywords": [2, "always"],
    "space-before-blocks": [2, "always"],
    "space-before-function-paren": [2, {"anonymous": "always", "named": "never"}],
    "space-in-brackets": 0,
    "space-in-parens": [2, "never"],
    "space-infix-ops": 2,
    "space-return-throw-case": 1,
    "space-unary-ops": 1,
    "spaced-comment": [2, "always"],
    "wrap-regex": 2,

    // Strict Mode
    "strict": [2, "never"],

    // Variables
    "no-catch-shadow": 0,
    "no-delete-var": 1,
    "no-label-var": 1,
    "no-shadow": 1,
    "no-shadow-restricted-names": 1,
    "no-undef": 1,
    "no-undef-init": 0,
    "no-undefined": 0,
    "no-unused-vars": 1,
    "no-use-before-define": [2, "nofunc"],

    // ECMAScript 6
    "constructor-super": 2,
    "no-this-before-super": 2,
    "object-shorthand": [2, "always"],
    "generator-star-spacing": [2, "before"],
    "prefer-const": 2,

    // Legacy
    "max-depth": [2, 5],
    "max-len": [1, 80, 2],
    "max-params": [1, 4],
    "max-statements": [2, 10],

    // React
    "react/display-name": 0,
    "react/jsx-boolean-value": [2, "never"],
    "react/jsx-no-undef": 1,
    "react/jsx-quotes": [2, "single", "avoid-escape"],
    "react/jsx-sort-prop-types": 1,
    "react/jsx-sort-props": 2,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/no-danger": 0,
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1,
    "react/no-multi-comp": 0,
    "react/no-unknown-property": 1,
    "react/prop-types": 1,
    "react/react-in-jsx-scope": 1,
    "react/require-extension": [1, { "extensions": [".js"] }],
    "react/self-closing-comp": 1,
    "react/sort-comp": [1, { "order": ["/^get.+$/", "lifecycle", "everything-else", "render"] } ],
    "react/wrap-multilines": 1
  }
}
